<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=soichidump;AccountKey=WBHCxfufSV2FVwL/y83nQhPKdDLo6w+ZnrSSK/91gEjeZtTHkJJ/2B30ISILx38TlVJ5sNnuZzR4qyaMj/xZnw==" />
  </appSettings>
</configuration>